[mysqld]

user = mysql
port = 3306
default-authentication-plugin = caching_sha2_password
tmpdir = /tmp
skip_external_locking
skip_name_resolve

disable-log-bin

max_allowed_packet = 1GB
connect_timeout = 60
wait_timeout = 3600
interactive_timeout = 43200
net_read_timeout = 3600
net_write_timeout = 3600
key_buffer_size = 16M

myisam-recover-options = BACKUP

max_binlog_size = 100M

default-storage-engine = innodb
innodb_buffer_pool_size = 490M
innodb_log_file_size = 256M
innodb_log_files_in_group = 1
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT_NO_FSYNC

[mysqldump]

quick
quote-names
max_allowed_packet = 1024M